* {
  font-family: 'Roboto', sans-serif;
  color: rgb(214, 214, 214);
}

.bg {
  background-image: url('./assets/tobias-van-schneider-9QrjShkAmnM-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.left {
  height: 100vh;
  overflow: auto;
  height: 80vh;
  padding: 1vh 3vw;
  box-shadow: 0 3px 6px rgb(131, 131, 131);
}

.right {
  height: 100vh;
  overflow: auto;
  height: 80vh;
  padding: 1vh 3vw;
  box-shadow: 0 3px 6px rgb(131, 131, 131);
}

code {
  color: #ff3232;
  background-color: #ffe5e5;
  display: block;
  padding: 1vh 1vw;
}

pre code {
  background-color: rgb(27, 27, 27);
  color: white;
  display: block;
  border-radius: 3px;
  padding: 1vh 1vw;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}